body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    background-color: #FFFFFF;
}
/* Header Section */
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}
.span-logo {
    color: #2E2F42;
font-family: "Raleway" sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-link {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
.contacts {
    color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.contacts {
    color: #434455;
    font-family: Roboto;   
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}
/* Section 1 */
.hero {;
background: var(--NAVY-BLUE, #2E2F42);
}
.hero-list {
    color: var(--WHITE, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 1.12px;
width: 496px;
}
.hero-button {
    border-radius: 4px;
background: var(--IRIS, #4D5AE5);
padding: 16px 32px;
gap: 10px;
color: var(--WHITE, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.64px;
}
/* Section 2 */
.vision {
    background: #FFF;
}
.vision-list {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
width: 264px;
}
.vision-text {
    color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}
/* Section 3 */
.team {
    background: var(--CLOUD, #F4F4FD);
}
.team-header {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.team-icon {
    background: lightgray;
}
.team-list {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.team-text {
    color: var(--SLATE, #434455);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}
/* Section 4 */
.portfolio-main {
    color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.portfolio-icon {
    border: #E7E9FC;
background: #FFF;
}
.portfolio-list {
    color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.portfolio-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/* Footer */
.down {
    background: var(--NAVY-BLUE, #2E2F42);
}
.logo-down {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.span-logo-down {
    color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
display: flex;
}
.logo-down-text {
    color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}