body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    background-color: #FFFFFF;
}
h3 {
    color: #2E2F42;
font-family: "Roboto", sans-serif;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
/* Header Section */
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.span-logo {
    color: #2E2F42;
font-family: "Raleway" sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-logo-link {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.contacts {
    color: var(--SLATE, #434455);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.0
}
.contacts .contacts-link:hover {
    color: #404bbf;
}
.contacts .contacts-link:focus {
    color: #404bbf ;
}
/* Section 1 */
.hero {
  background: #2E2F42;
  font-family: "Roboto", sans-seri;
}
.hero-list {
    color: var(--WHITE, #FFF);
    text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 1.12px;
}
.hero-button {
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.64px;
}
.hero .hero-button:hover {
    background-color: #404BBF
}
.hero .hero-button:focus {
    background-color: #404BBF
}
/* Section 2 */
.vision {
    background: #FFF;
}
.vision-title {
    color: #2E2F42;
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.vision-text {
    color: #434455;
    font-family: "Roboto", sans-seri;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
/* Section 3 */
.team {
    background: #F4F4FD;
}
.team-header {
    color: #2E2F42;
    text-align: center;
font-family: "Roboto", sans-seri;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.team-list {
    background: #FFF;
}
.team-icon {
    background: lightgray;
}
.team-title {
    color: #2E2F42;
font-family: "Roboto", sans-seri;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.team-text {
    color: #434455;
font-family: "Roboto", sans-seri;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}
/* Section 4 */
.portfolio-main {
    color: #2E2F42;
    text-align: center;
font-family: "Roboto", sans-seri;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.portfolio-icon {
background: #FFF;
}
.portfolio-list {
    color: #2E2F42;
font-family: "Roboto", sans-seri;;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.portfolio-text {
    color: #434455;
    font-family: "Roboto", sans-seri;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/* Footer */
.down {
    background: var(--NAVY-BLUE, #2E2F42);
}
.logo-down {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.span-logo-down {
    color: #F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-down-text {
    color: #F4F4FD;
font-family: "Roboto", sans-seri;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}